header {
  padding: 3% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
